
.body-overlayed embed,
.body-overlayed object,
.body-overlayed select {
visibility:	hidden;

}

#sbox-window embed,
#sbox-window object,
#sbox-window select {
visibility:	visible;

}

#sbox-overlay {
position:absolute;
background-color:#000;

}

#sbox-window {
position:absolute;
text-align:	left;
overflow:visible;
overflow: hidden;
margin:0;
text-align:left;


}

* html #sbox-window {
top: 50% !important;
left: 50% !important;

}

#sbox-btn-close {
position:absolute;
width:30px;
height:30px;
right:-15px;
top:-15px;
background:url(../images/close-box.jpg) 0 0 no-repeat ;
border:	none;

}

.sbox-loading #sbox-content{
background-position:center;

}

#sbox-content{
clear:both;
overflow:auto;
height:	100%;
width:100%;

}

.sbox-content-image#sbox-content{
overflow:visible;

}

#sbox-image{
display:block;

}

.sbox-content-image img{
display:block;

}

.sbox-content-iframe#sbox-content{
overflow:visible;

} 
 

#sbox-window {

}

#sbox-btn-close{
right: 10px !important;
top: 10px !important;

}

#helpdiv{
background:#000;
font-size:11px;
padding:10px;
height:300px;

}

#helpdiv a{
font-size:11px;

}

 #helpdiv h3{
color:#fff;
font-size:18px;

} 

#helpdiv label{
color:#fff;

} 

#helpdiv input{
background:#fff;

} 

#helpdiv .button{
background:#672620 !important;

} 

#helpdiv a{
color:#fff;

} 

#helpdiv2{
background:#000;
margin:0;
padding:0;
height: 36px;
color: #000;

}

#mod_search_searchword.inputbox {
width:163px;
background:#fff !important;
margin:5px 0 0 10px;

}

#loginbt{
float:left;
width: 123px;
height: 20px;
display:block;
margin:0 0 0 20px;
padding:0;
text-align:left;
text-transform:uppercase;
font-weight:normal;

}

#loginbt a{
font-size:13px;
color:#fff;
font-weight:normal;

}

#loginbt a:hover {
color:#ccc;
}

#search{
float:left;
width: 80px;
height: 20px;
display:block;
margin:0px 0 0 0px;
padding:0;
text-align:left;
color:#fff;
text-transform:uppercase;
font-weight:normal;

}

#search a{
font-size:13px;
color:#fff;
font-weight:normal;

}

#search a:hover{
color:#ccc;

}



 